.arrow {
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  position: absolute;

  &.down {
    transform: rotate(90deg);
    right: 12px;
    bottom: 10px;
  }

  &.up {
    transform: rotate(270deg);
    right: 15px;
    bottom: 10px;
  }
}

